/* about app */
.check-icon{
    /* margin-right: -17px; */
    width: 35px;
    height: 35px;
    display: inline-block;
    color: #333;
    background-color: #ffffff;
    border-radius: 50%;
    border: 2px solid #333;
    position: absolute;
    z-index: 1;
    /* margin-left: 7px; */
    padding: 5px;
    left: -17px;
    margin-top: -7px;
}
.page1 ul::after, .page2 ul::after{
    content: '';
    position: absolute;
    right: 0;
    width: 2px;
    top: 20px;
    bottom: 20px;
    background: #333;
    margin: auto 0;
    z-index: 0;
}
.page2 ul::after{
    left: 0;
    right: unset;
    background: #fff;
}
.page2 .title ul li{
    color: #fff;
}
.page2 .title ul li p, .page1 .title ul li p{
    margin-bottom: 0;
}
.page2 .title ul li .check-icon{
    /* margin-left: -17px; */
    /* margin-right: 7px; */
    border-color: #fff;
    background-color: #191919;
    color: #fff;
}
.page2 .line-after2{
    color: #f38320;
}
.page1 .line-after{
    text-align: right!important;
}
.page1 .title ul, .page2 .title ul{
    position: relative;
}

.page1 .title ul li{
    text-align: right;
    padding: 15px 0;
    z-index: 1;
}
.page2 .title ul li{
    padding: 15px 0;
}
.about_app .title, .app_provide .title{
    font-size: 21px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 50px;
}
.about_app .content ul li {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 55px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    position: relative;
}

.about_app .content ul h4 {
    font-size: 21px;
    padding-bottom: 20px;
    color: #f38320;
    font-weight: bolder;
    padding-top: 30px;
    text-transform: uppercase;
}

.about_app .content ul li:hover {
    -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, .1);
    box-shadow: 0 0 35px rgba(16, 16, 16, 0.12);
    -webkit-transform: translateY(-7px);
        -ms-transform: translateY(-7px);
            transform: translateY(-7px);
}

.about_app .content .icon {
    padding-bottom: 40px;
    padding: 10px;
}

.about_app .content .icon img {
    width: 100px;
    height: 100px;
}

.about_app .content ul li strong {
    font-size: 3em;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .2);
    color: #b06ab3;
    display: block;
}

.about_app .content ul li p {
    margin-bottom: 30px;
    font-size: 15px;
}

.about_app .content ul li a {
    margin-top: 20px;
    color: #fff;
    font-size: 14px;
    padding: 12px 10px;
    text-transform: uppercase;
    background: #f38320;
    border: 1px solid transparent;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.about_app .content ul li a:hover {
    text-decoration: none;
    color: #f38320;
    background: transparent;
    border: 1px solid #f38320;
}

.learn-more {
    position: absolute;
    bottom: 38px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

/* ////////////////////////////////////////////////////////////////////////////// */

/* why choose app  */

/* app-provide */

.app_provide {
    background-color: #191919;
    color: white;
}

.app_provide * {
    text-align: center
}

.app_provide .detail h4 {
    font-size: 16px;
}

.app_provide .photo {
    -webkit-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    -webkit-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    height: 100%;
    width: 700px;
    padding-left: 20px;
    padding-right: 20px
}

.app_provide .detail {
    min-height: 235px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    /* border-radius: 6px; */
    padding: 20px 17px 15px 20px;
    margin-bottom: 30px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    -webkit-animation: fadeInUp 1s;
    animation: fadeInUp 1s;
    text-align: justify;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-shadow: 5px 7px 0 #fff;
            box-shadow: 5px 7px 0 #fff;
}

.app_reason {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.app_provide .detail:hover {
    background-color: #fa983a;
    color: #fff;
}

.app_reason img {
    width: 90%;
    height: 90%;
}

.app_provide .detail h1 {
    text-transform: uppercase;
}

.app_provide .detail .content {
    padding-top: 20px
}

.app_provide .detail h3 {
    padding: 15px 0px 10px 0px;
    text-transform: uppercase;
    font-size: 18px;
}

.app_provide .detail .icon img {
    width: 40px;
    height: 40px;
}

@media(max-width: 1200px) {
    .app_provide .photo {
        height: 100%;
        width: 100%;
        padding: 30px
    }
}

@media(max-width: 1000px) {
    .app_reason {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center
    }
    .app_reason img {
        margin-bottom: 30px
    }
}
.page2 .title ul li .text-page, .page1 .title ul li .text-page{
    padding-left: 25px;
    display: inline-block;
    text-align: left;
}
@media (min-width: 992px){
    .page1 .check-icon{
        right: -17px;
        left: unset;
    }
    .page1 .title ul li .text-page{
        padding-right: 25px;
        padding-left: unset;
    }
}
@media (max-width: 992px){
    .page1 .title ul li{
        text-align: left!important;
    }
    .page1 .title ul, .page2 .title ul{
        max-width: 380px;
        margin: 0 auto;
    }
    .page2 h1.line-after2, .page1 h1.line-after{
        text-align: center!important;
        font-size: 30px!important;
    }
    .line-after::after{
        margin: 15px auto!important;
    }
    .page1 ul::after{
        left: 0;
        right: unset;
    }
}
@media(max-width: 768px) {
    .about_app .content ul li:not(:last-child) {
        border-bottom: 1px solid #F38320;
    }
}
@media (max-width: 435px){
    .about_app .title, .app_provide .title{
        font-size: 15px;
        line-height: 25px;
    }
}