/* header */
.header .container_header ul li a{
    color: #fff ;     font-weight: 500; 
}

.header .container_header ul li:hover a{
    color: #bdc3c7!important
}
#login{
	background-color: black ; color: white ; padding: 5px; padding-left: 10px; padding-right: 10px
}
#login:hover{
	opacity: 0.5;
}

/* end of header */

.container_header{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row ; flex-direction: row ; padding-left: 130px; padding-right: 20px  ; -webkit-box-align: center; -ms-flex-align: center; align-items: center;
     -webkit-box-pack: justify;
         -ms-flex-pack: justify;
             justify-content: space-between

}
.container_header .logo{
    display: -webkit-box;
    display: -ms-flexbox;
  display: none
  
}
.container_header .menu{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex ;
}
.container_header ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex ; -webkit-box-align: center; -ms-flex-align: center; align-items: center
}
.container_header ul li{
    list-style: none;
    padding: 5px ;
    margin-left: 10px
}
.app_sub{
    padding: 0px 30px ; padding-top: 0px ;max-width: 65%;
} 
.app_sub h2{
    font-size: 42px;
    line-height: 60px;
    font-weight: 600
}
/* animation */

/* .main_app .circle .circle1{
    -webkit-animation: move 3.9s linear infinite;
            animation: move 3.9s linear infinite;
} */
.main_app .circle .circle2{
    -webkit-animation: move 2.8s linear infinite;
            animation: move 2.8s linear infinite;
}
.main_app .circle .circle3{
    -webkit-animation: move 2.5s linear infinite;
            animation: move 2.5s linear infinite;
}
.circle1 img{
    width: 350px ; height: auto;
}

/* app-main */
.main_app{
    background: #a8ff78;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}
.box{ text-align: center ;
    padding-right: 50px;
    padding-left: 100px;
    padding-top:200px ;
    padding-bottom: 100px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-around
}
.main_app .app_photo{
    -webkit-animation:fadeInUp ease 1s, moveup infinite 2s ;
            animation:fadeInUp ease 1s, moveup infinite 2s ;-ms-flex-item-align:start;align-self:flex-start ;
}
.main_app .app_photo img{
    width: 50%; height: 50%;
}
.main_app .app_sub .store{
    padding-top: 65px;
}
.main_app .app_sub .store .androi{
    align-items: center;justify-content: space-around;
    display: flex ; flex-direction: row ;
    
}
.main_app h1{
    -webkit-animation: fadeInUp ease 1s ;
            animation: fadeInUp ease 1s ; font-size: 30px ; line-height: 40px ; 
}
.app_sub p{
    max-width: 540px;
    font-size: 20px;
    text-align: center
}
/* show_video download */
.video-btn{
    background-color: #fdcb6e;
    font-size: 22px;
    /* padding: 17px; */
    width: 60px;
    height: 60px;
}

.video-btn #video{
    position: fixed ;
    width: 500px;
    top:200px; z-index: 50;
    display: none
}
@media (min-width: 576px){
.modal-dialog {
    max-width: 709px!important ;
    margin: 5.75rem auto!important;
}
/* ///////////////////////////////////////////////////////////////////////////// */
/* bottom */
.back-to-top{
    position: fixed;
    transition: 0.3s;
   
    background-color:#fa983a;
    color: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 10;
    cursor: pointer;
    font-size: 30px;
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
}
.back-to-top:hover{
    -webkit-animation: moveup 1s;
            animation: moveup 1s
}
/* bottom /////////////////////////////////////////////////// */
.bottom{
	-webkit-box-sizing: 50px;
	        box-sizing: 50px; width: 100%; background-color: #f2f2f2; padding-top: 5px;bottom: 0px;
	 -webkit-transition: background-color ease-in 1s ;
	 -o-transition: background-color ease-in 1s ;
	 transition: background-color ease-in 1s ; display: -webkit-box; display: -ms-flexbox; display: flex ; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column ; flex-direction: column ; border-top: solid 1px #e4e4e4
}
.bottom ul{
	text-align: center; height: 24px;
}
.bottom ul li{
	display: inline-block; 
}
.bottom ul li:hover{
	opacity: 0.6;
}
.bottom ul li a{
    display: flex;align-items: center; justify-content: center; 
	color:black; text-align: center ; line-height: 0px ;padding: 12px ; margin-right: 10px ;border: 1px solid black; border-radius: 50%; width: 25px; height: 25px;
}
.bottom .bt_title{
	text-align: center ; 
}

.bottom span{
 margin:  auto; text-align: center; padding-left: 5px ;border-left: 1px solid #636e72; font-size: 13px;
  margin-left: 5px
}
.bottom .bt_title span a{
	color: #ff9f1a 
}
.bottom .bt_title span a:hover{
	color: #636e72;
}
/* fix bootstrap */
.bottom ul li, ::after, ::before {
    -webkit-box-sizing:unset;
            box-sizing:unset 
}
/* mobile app menu show */
.menu_show{
    padding: 10px;
    background-color: black ; opacity: 0.9; width: 100% ; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex;
     z-index: 100; position:fixed ;top:0px; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column ; flex-direction: column ; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end ; display: none;
}
#icon_menu{
    display: none
}
.bottom .telegram {
    background: url(../images/background/telegram.png) no-repeat 40% 50% ;
}
.bottom .facebook{
    background: url(../images/background/facebook-logo.png) no-repeat  50% 50% ;

}
.bottom .linkedin{
    background: url(../images/background/linkedin-letters.png) no-repeat  50% 40% ;

}
.bottom .twitter{
    background: url(../images/background/twitter.png) no-repeat  50% 50% ;

}
/* responsive */
@media (max-width:1000px){
    .main_app .app_sub{
        max-width: 100%; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start;
    }
    .main_app .box .app_photo{
        display: none
    }
   
    .container_header .sub_menu{
        display: none
    }
    .container_header #icon_menu{
        display: block
    }
   /* menu show */
    .menu_show .sub_menu{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: reverse; -ms-flex-direction: row-reverse ; flex-direction: row-reverse ; 
    }
    .menu_show #menu_show_icon_close{
        margin: 7px ;text-align: end
    }
    .menu_show .sub_menu #login{
        background-color: #ff9f1a ; width: 150px ; height: -webkit-fit-content; height: -moz-fit-content; height: fit-content;    margin-right: 3px;
        margin-left: 3px;padding: 10px
    }
   
    .menu_show a{
         font-size: 13px; font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif
    }
    .menu_show .sub_menu ul{
        margin-right: 5px; border-right: white 1px solid ; padding-right: 5px ; display: -webkit-box; display: -ms-flexbox; display: flex ; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column ; flex-direction: column ; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end ; height: 110px;
    }
    .menu_show .sub_menu ul li{
        margin-top: 5px;
    }
    .active{
        color: #ff9f1a;
    }
}
@media(max-width: 1200px){
    h1{
        font-size: 50px
    }
    .box{
        padding-left: 15px
    }
    .container_header{
        padding-left: 30px
    }
    .main_app .circle{
        top: 50px

    }
}
@media(max-width: 1000px){
    .main_app{
        padding-bottom: 100px ; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center;
    }
    .box{
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; padding-right: 0px; padding-top: 150px
    }
   
    .container_header .logo{
        display: flex!important
    }
  .menu_show ul li a:hover{
      color: #ff9f1a
  }
  .circle{
      display: none
  }
    
}
@media(max-width: 700px){
    h1{
        font-size: 29px ;
        line-height: 50px;
        padding: 0px 5px ; text-align: center
    }
    .box{
        padding-left:10px; padding-right: 10px; padding-top: 170px
    }
    .main_app .app_sub{
        padding: 0px
    }
   
    .store a{
        margin: 0px
    }
    .store .store_app{
        margin-left: 40px
    }
    .bottom .bt_title span {
        font-size: 12px
    }
 
}
@media(max-width: 550px){
    .app_sub .store span{
        font-size: 22px!important;
        
    }
    .app_sub .store .androi img{
        width: 150px; height: auto;
    }
}
@media(max-width: 400px){
    .app_sub .store span{
        font-size: 20px!important;
        
    }
    .app_sub .store .androi img{
        width: 120px; height: auto;
    }
}
}