/* header */
.img-play-tut{
    width: 20px;
    margin-left: 2px;
    margin-top: 1px;
}
.available-ios, .available-android {
    display: none;
}

.available-ios p, .available-android p {
    margin-bottom: 0;
    font-size: 16px!important;
    font-style: italic;
    color: #f38320;
    max-width: 100%!important;
}

.languages {
    position: fixed;
    top: 300px;
    right: 1px;
}

a.lang {
    padding: 15px;
    background: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    color: #333;
    border: 1px solid #5252522b;
    border-right: none;
}

a.lang:hover {
    color: #f38320;
}

a.lang-active {
    color: #f38320!important;
}

a.eng {
    border-bottom: none!important;
}

.dual-lang {
    position: fixed;
    top: 10%;
    right: 0;
    z-index: 2;
}

.wrapper-animation-banner {
    position: relative;
}

#modelId {
    padding-right: 0!important;
}

.wrapper-content-animation {
    position: absolute;
    background: #333;
    top: 50px;
    left: 149px;
    right: 153px;
    bottom: 70px;
}

.wrapper-content-animation.ios-display {
    top: 67px;
    left: 152px;
    right: 153px;
    bottom: 70px;
}

.modal-dialog {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 100%;
    margin: 0 auto;
}

.modal-body {
    background: url('../images/background/android-mockup-video.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 305px;
    height: 680px;
}

.modal-body.ios-display {
    background: url('../images/background/iphone-mockup-video.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 302px;
    height: 654px;
}

.wrapper-video-tut {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 275px;
    height: 563px;
    line-height: 0;
    overflow: hidden;
    position: relative;
    top: 50px;
    margin: auto;
}

.wrapper-video-tut.ios-display {
    width: 266px;
    height: 520px;
    top: 66px;
}

iframe {
    position: absolute;
    top: -42px;
    left: 50%;
    /* width: 100%;
    height: 100%; */
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 321px;
    height: 648px;
}
video{
    position: absolute;
    top: 2px;
    left: 50%;
    /* width: 100%;
    height: 100%; */
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 313px;
}

iframe.ios-display {
    top: -55px;
}

.modal-body {
    /* background: transparent; */
    padding: 0;
    line-height: 0;
}

.modal-content {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background: transparent;
    overflow: hidden;
    border: none;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    line-height: 0;
}

.wrapper-link-android {
    position: relative;
    margin-right: 30px;
    display: block;
}

/* .wrapper-link-ios{
    display: block;
} */

.wrapper-link-android a, .wrapper-link-ios a {
    display: block;
    position: relative;
    width: 200px;
    height: 59px;
}

.header {
    border-bottom: 1px solid transparent;
}

.header .container_header ul li a {
    color: #fa983a;
    font-weight: 500;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

.header.bg-active {
    background: #fff;
    border-bottom: 1px solid #d4d4d452;
}

.header .container_header ul li:hover a {
    color: #bdc3c7!important;
}

#login {
    background-color: black;
    color: white;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px
}

#login:hover {
    opacity: 0.5;
}

/* end of header */

.container_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 130px;
    padding-right: 20px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.container_header .logo {
    display: -webkit-box;
    display: -ms-flexbox;
}

.container_header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.container_header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.container_header ul li {
    list-style: none;
    padding: 5px;
    margin-left: 10px
}

.app_sub {
    padding: 0px 30px;
    padding-top: 0px;
    /* max-width: 65%; */
}

.app_sub h2 {
    font-size: 42px;
    line-height: 60px;
    font-weight: 600
}

/* animation */

/* .main_app .circle .circle1{
    -webkit-animation: move 3.9s linear infinite;
            animation: move 3.9s linear infinite;
} */

.main_app .circle .circle2 {
    -webkit-animation: move 2.8s linear infinite;
    animation: move 2.8s linear infinite;
}

.main_app .circle .circle3 {
    -webkit-animation: move 2.5s linear infinite;
    animation: move 2.5s linear infinite;
}

.circle1 img {
    width: 350px;
    height: auto;
}

/* app-main */

.main_app {
    background: #f5f5f5;
    height: 100vh;
}

.box {
    text-align: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

img.btn-android, img.btn-ios, .btn-android-hover, .btn-ios-hover {
    position: absolute;
    left: 0;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
}

ul.list-service li span {
    padding-left: 5px;
}

ul.list-service li i {
    font-size: 11px;
}

.main_app .app_photo {
    /* -webkit-animation: fadeInUp ease 1s, moveup infinite 2s;
    animation: fadeInUp ease 1s, moveup infinite 2s; */
    -ms-flex-item-align: start;
    align-self: flex-start;
}

/* .main_app .app_photo img {
    width: 50%;
    height: 50%;
} */

.main_app .app_sub .store {
    padding-top: 45px;
}

.main_app .app_sub .store .androi {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

.qr-wrapper {
    position: absolute;
    margin-top: 10px;
    border: 5px solid #333;
    -webkit-transition: .1s;
    -o-transition: .1s;
    transition: .1s;
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
    visibility: hidden;
}

.qr-wrapper:before {
    content: '';
    position: absolute;
    top: -14px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #333;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.main_app h1 {
    -webkit-animation: fadeInUp ease 1s;
    animation: fadeInUp ease 1s;
    font-size: 21px;
    line-height: 40px;
    color: #333;
    text-transform: uppercase;
    margin-top: 25px;
}

.app_sub p {
    max-width: 540px;
    font-size: 20px;
    text-align: center
}

.app_sub p.sub-title {
    font-size: 14px;
    max-width: 100%;
}

/* show_video download */

.video-btn {
    background-color: #fa983a;
    width: 40px;
    height: 40px;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none!important;
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
    color: #fff;
    font-size: 15px;
    line-height: 0;
}

.video-btn-vn {
    left: -15px;
}

.video-btn i {
    margin-top: 1px;
    margin-left: 3px;
}

.tooltip-video {
    position: absolute;
    top: -35px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
    font-size: 14px!important;
    width: 107px;
    margin-bottom: 0;
    background: #333;
    line-height: initial;
    padding: 8px 5px;
    border-radius: 5px;
    -webkit-transition: .3s;
    -o-transition: .3s;
    transition: .3s;
    visibility: hidden;
    opacity: 0;
}

.video-btn:hover .tooltip-video {
    opacity: .9;
    visibility: visible;
}

.back-to-top {
    position: fixed;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    background-color: #fa983a;
    color: #fff!important;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    z-index: 2;
    cursor: pointer;
    font-size: 30px;
    -webkit-box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
    right: 30px;
    bottom: 30px;
    width: 50px;
    height: 50px;
    opacity: 0;
    visibility: hidden;
}

.back-to-top.active {
    opacity: 1;
    visibility: visible;
}

.back-to-top:hover {
    -webkit-animation: moveup 1s;
    animation: moveup 1s
}

#icon_menu_close {
    display: none;
}

/* bottom /////////////////////////////////////////////////// */

.bottom {
    -webkit-box-sizing: 50px;
    box-sizing: 50px;
    width: 100%;
    background-color: #f2f2f2;
    padding-top: 5px;
    bottom: 0px;
    -webkit-transition: background-color ease-in 1s;
    -o-transition: background-color ease-in 1s;
    transition: background-color ease-in 1s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    border-top: solid 1px #e4e4e4
}

.bottom ul {
    text-align: center;
    height: 24px;
}

.bottom ul li {
    display: inline-block;
}

.bottom ul li:hover {
    opacity: 0.6;
}

.bottom ul li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: black;
    text-align: center;
    line-height: 0px;
    padding: 12px;
    margin-right: 10px;
    border: 1px solid black;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.bottom .bt_title {
    text-align: center;
}

.bottom span {
    margin: auto;
    text-align: center;
    padding-left: 5px;
    border-left: 1px solid #636e72;
    font-size: 13px;
    margin-left: 5px
}

.bottom .bt_title span a {
    color: #ff9f1a
}

.bottom .bt_title span a:hover {
    color: #636e72;
}

/* fix bootstrap */

.bottom ul li, ::after, ::before {
    -webkit-box-sizing: unset;
    box-sizing: unset
}

.bottom .telegram {
    background: url(../images/background/telegram.png) no-repeat 40% 50%;
}

.bottom .facebook {
    background: url(../images/background/facebook-logo.png) no-repeat 50% 50%;
}

.bottom .linkedin {
    background: url(../images/background/linkedin-letters.png) no-repeat 50% 40%;
}

.bottom .twitter {
    background: url(../images/background/twitter.png) no-repeat 50% 50%;
}

@media (min-width: 576px) {
    /* ///////////////////////////////////////////////////////////////////////////// */
    /* mobile app menu show */
    .menu_show {
        padding: 10px;
        background-color: black;
        opacity: 0.9;
        width: 100%;
        height: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 100;
        position: fixed;
        top: 0px;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        display: none;
    }
    #icon_menu {
        display: none
    }
}

.btn-android-hover, .btn-ios-hover {
    opacity: 0;
    visibility: hidden;
}

.wrapper-link-android a:hover img.btn-android-hover, .wrapper-link-ios a:hover img.btn-ios-hover {
    opacity: 1;
    visibility: visible;
}

.wrapper-link-android a:hover img.btn-android, .wrapper-link-ios a:hover img.btn-ios {
    opacity: 0;
    visibility: hidden;
}

/* responsive */

@media (min-width: 1000px) {
    #logo-header {
        visibility: hidden;
        opacity: 0;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
    }
    #logo-header.active {
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width:1000px) {
    .main_app .app_sub {
        max-width: 100%;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
    .main_app .box .app_photo {
        display: none
    }
    #icon_menu_close {
        cursor: pointer;
        width: 30px;
        height: 30px;
        z-index: 1000;
    }
    #icon_menu_close.active {
        display: block!important;
    }
    .container_header .sub_menu {
        visibility: hidden;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        background: #191919;
        -webkit-transition: .3s;
        -o-transition: .3s;
        transition: .3s;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
    }
    .container_header .sub_menu.active {
        visibility: visible;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
    .container_header .sub_menu ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .container_header #icon_menu {
        display: block;
        cursor: pointer;
    }
    /* menu show */
    .menu_show .sub_menu {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
    .menu_show #menu_show_icon_close {
        margin: 7px;
        text-align: end;
    }
    .menu_show .sub_menu #login {
        background-color: #ff9f1a;
        width: 150px;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        margin-right: 3px;
        margin-left: 3px;
        padding: 10px
    }
    .menu_show a {
        font-size: 13px;
        font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", "Helvetica", "Arial", sans-serif
    }
    .menu_show .sub_menu ul {
        margin-right: 5px;
        border-right: white 1px solid;
        padding-right: 5px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        height: 110px;
    }
    .menu_show .sub_menu ul li {
        margin-top: 5px
    }
    .active {
        color: #ff9f1a
    }
    .available-android.android-display {
        display: block;
    }
    .available-ios.ios-display {
        display: block;
    }
}

.wrapper-link-android a:hover~.qr-wrapper, .wrapper-link-ios a:hover~.qr-wrapper {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

@media(max-width: 1200px) {
    h1 {
        font-size: 50px
    }
    .container_header {
        padding-left: 30px
    }
    .main_app .circle {
        top: 50px
    }
    .wrapper-content-animation {
        top: 43px;
        left: 103px;
        right: 104px;
        bottom: 70px;
    }
    .wrapper-content-animation.ios-display {
        top: 63px;
        left: 106px;
        right: 107px;
        bottom: 70px;
    }
}

@media(max-width: 1000px) {
    .main_app {
        /* padding-bottom: 100px; */
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .box {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .container_header .logo {
        display: -webkit-box!important;
        display: -ms-flexbox!important;
        display: flex!important
    }
    .menu_show ul li a:hover {
        color: #ff9f1a
    }
    .circle {
        display: none
    }
    .qr-wrapper {
        display: none;
    }
    .wrapper-link-ios.ios-display {
        display: block;
    }
    .wrapper-link-android.android-display {
        display: block;
        margin-right: 0;
    }
    .wrapper-link-ios.android-display {
        display: none;
    }
    .wrapper-link-android.ios-display {
        display: none;
    }
    .wrapper-link-android.android-display a, .wrapper-link-ios.ios-display a {
        width: 280px;
    }
    .wrapper-link-android.android-display a img.btn-android, .wrapper-link-ios.ios-display a img.btn-ios, .wrapper-link-android.android-display a .btn-android-hover, .wrapper-link-ios.ios-display a .btn-ios-hover {
        width: 280px!important;
    }
}

@media (max-width: 769px) {
    .main_app {
        height: 600px;
    }
}

@media(max-width: 700px) {
    h1 {
        font-size: 29px;
        line-height: 50px;
        padding: 0px 5px;
        text-align: center
    }
    .main_app .app_sub {
        padding: 0px
    }
    .store a {
        margin: 0px
    }
    .store .store_app {
        margin-left: 40px
    }
    .bottom .bt_title span {
        font-size: 12px
    }
}

@media (max-width: 576px) {
    .back-to-top {
        right: 10px;
        bottom: 20px;
        width: 40px;
        height: 40px;
        font-size: 23px;
        line-height: 41px;
        opacity: .8;
    }
}

@media(max-width: 550px) {
    .app_sub .store span {
        font-size: 22px!important;
    }
    .app_sub .store .androi img {
        width: 165px;
        height: auto;
    }
    .video-btn {
        top: -30px!important;
        right: 0px;
        /* transform: translateX(50%); */
        border-radius: 5px!important;
        width: 26%;
        height: 35px;
    }
    .wrapper-link-android a, .wrapper-link-ios a {
        width: 165px;
        height: 48px;
        margin: 0 auto;
    }
    .wrapper-link-android.android-display .video-btn, .wrapper-link-ios.ios-display .video-btn {
        border-radius: 50%!important;
        width: 50px;
        height: 50px;
        right: -18px;
        top: -33px!important;
    }

.wrapper-link-android.android-display .video-btn img, .wrapper-link-ios.ios-display .video-btn img {
    width: 24px!important;
}
}

@media(max-width: 435px) {
    .main_app h1 {
        font-size: 15px;
    }
    /* .wrapper-video-tut{
        width: 250px;
        height: 545px;
    } */
    .modal-body, .modal-body.ios-display {
        width: 225px;
        height: 497px;
    }
    .wrapper-video-tut {
        width: 200px;
        height: 412px;
        top: 36px;
    }
    .wrapper-video-tut.ios-display {
        width: 193px;
        height: 380px;
        top: 54px;
    }
    video{
        width: 231px;
    }
    iframe.ios-display {
        top: -47px!important;
    }
    /* #source-video {
        width: 234px;
        height: 488px;
        top: -38px;
    } */
}

@media(max-width: 400px) {
    .app_sub .store span {
        font-size: 20px!important;
    }
    .app_sub .store .androi img {
        width: 145px;
        height: auto;
    }
    .bottom .bt_title span {
        font-size: 10px;
    }
    .wrapper-link-android a, .wrapper-link-ios a {
        width: 145px;
        height: 42px;
        margin: 0 auto;
    }
}

@media (max-width: 374px) {
    .app_sub .store .androi img {
        width: 130px;
    }
    .wrapper-link-android a, .wrapper-link-ios a {
        width: 130px;
        height: 37px;
        margin: 0 auto;
    }
}