.wrapper-video-trading{
    position: relative;
    width: 100%;
    height: 100%;
}
.mockup-iphone{
    position: absolute;
    top: -5px;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    z-index: 1;
    width: 271px;
}

.mockup-iphone img {
    width: 270px!important;
    height: 577px;
}
